@font-face {
    font-family: 'hero';
    src: url(./fonts/Hero-Regular.ttf);
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}

/* SECTION 1 STUFF */

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    background-color: #1f2937;
    padding-right: 20%;
}

.section1 {
    background-color: #1f2937;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
}

/* HEADER BAR ACROSS TOP */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

.leftheadings, .rightheadings {
    display: flex;
    align-items: center;
}

.rightheadings {
    color: white;
    font-family: "hero", sans-serif;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 30px;
    gap: 16px;
}

li {
    text-decoration: none;
}

.name {
    color: white;
    font-family: "hero", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

/* LOGO TOP LEFT */

.logoborder {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px;
    flex-shrink: 0;
}

.logo {
    height:35px;
    border-radius: 50%;
    flex-shrink: 0;
}

/* TORSO */ 

.torso {
    display: flex;
    background-color: #1f2937;
}

.bulk {
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "hero";
    margin-top: 30px;
    padding-bottom: 30px;
}

.heading {
    font-weight: 700;
}

.torso.text {
    font-style: italic;
}

button {
    margin-top: 20px;
    text-decoration: none;
    font-family: "hero";
    align-items: center;
    font-weight: 600;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.picture {
    display: flex;
    flex: 1 1 0;
    height: 200px;
    width: auto;
    margin: 30px;
    padding: 5px;
    background-color: white;
}
