@font-face {
    font-family: 'hero';
    src: url(./fonts/Hero-Regular.ttf);
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}

/* SECTION 1 STUFF */

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    background-color: #1f2937;
    padding-right: 20%;
}

.section1 {
    background-color: #1f2937;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
}

/* HEADER BAR ACROSS TOP */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

.leftheadings, .rightheadings {
    display: flex;
    align-items: center;
}

.rightheadings {
    color: white;
    font-family: "hero", sans-serif;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 30px;
    gap: 16px;
}

li {
    text-decoration: none;
}

.name {
    color: white;
    font-family: "hero", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

/* LOGO TOP LEFT */

.logoborder {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px;
    flex-shrink: 0;
}

.logo {
    height:35px;
    border-radius: 50%;
    flex-shrink: 0;
}

/* TORSO */ 

.torso {
    display: flex;
    background-color: #1f2937;
}

.bulk {
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "hero";
    margin-top: 30px;
    padding-bottom: 30px;
}

.heading {
    font-weight: 700;
}

.torso.text {
    font-style: italic;
}

button {
    margin-top: 20px;
    text-decoration: none;
    font-family: "hero";
    align-items: center;
    font-weight: 600;
    background-color:#3881f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.picture {
    display: flex;
    flex: 1 1 0;
    height: 200px;
    width: auto;
    margin: 30px;
    padding: 5px;
    background-color: white;
}

/* SECTION 2 */ 

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header2 {
    font-size: 18px;
    font-family: "hero";
    font-weight: 700;
    margin-top: 45px;
}

.toptext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#smalltext {
    font-family: "hero";
    font-style: italic;
}

.boxes {
    margin: 20px;
    display: flex;
}

.boxpics {
    margin: 10px;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    object-fit: cover;
    flex: 0 0 0;
}

.pic1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "hero";
    font-size: 12px;
    font-style: italic;
}

/* SECTION 3 */

.section3 {
    margin: 0px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #1f2937;
}

.littlepara {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "hero";
    font-style: italic;
}

/* SECTION 4 */ 

.section4 {
    margin: 0px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: white;
}

.finalbox {
    display: flex;
    margin: 40px;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    font-family: "hero";
    color: white;
    background-color:#1f2937;
    border-radius: 7px;
}

.finalbox.button {
    background-color: white;
}

#texticles {
    font-weight: 700;
}

#tinytexticles {
    font-size: 10px;
    font-style: italic;
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    justify-content: center;
    font-size: 12px;
    font-family: "hero";
    font-weight: 00;
}