@font-face {
    font-family: 'hero';
    src: url(./fonts/Hero-Regular.ttf);
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: #1f2937;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
}

/* HEADER BAR ACROSS TOP */

header {
    display: flex;
    align-items: center;
}

.leftheadings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightheadings {
    color: white;
    display: flex;
    font-family: "hero", sans-serif;
    justify-content: flex-end;
}

ul {
    display: flex;
}

li {
    display: flex;
}

.name {
    color: white;
    font-family: "hero", sans-serif;
    font-weight: 900;
}

/* LOGO TOP LEFT */

.logoborder {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px;
    flex-shrink: 1;
}

.logo {
    height:70px;
    border-radius: 50%;
    flex-shrink: 1;
}
