body {
    border: 0;
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: #1f2937;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
}

/* HEADER BAR ACROSS TOP */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    color: white;
}

/* LOGO TOP LEFT */

.logoborder {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.logo {
    height:70px;
    border-radius: 50%;
}
