@font-face {
    font-family: 'hero';
    src: url(./fonts/Hero-Regular.ttf);
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: #1f2937;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
}

/* HEADER BAR ACROSS TOP */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

.leftheadings, .rightheadings {
    display: flex;
    align-items: center;
    gap: 16px;
}

.rightheadings {
    color: white;
    font-family: "hero", sans-serif;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

li {
    text-decoration: none;
}

.name {
    color: white;
    font-family: "hero", sans-serif;
    font-weight: 900;
}

/* LOGO TOP LEFT */

.logoborder {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px;
    flex-shrink: 0;
}

.logo {
    height:70px;
    border-radius: 50%;
    flex-shrink: 0;
}
